<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <!-- Sing in  Form -->
                <section class="sign-in">
                    <div class="container">
                        <div class="signin-content">
                            <div class="signin-image">
                                <figure><img src="../../assets/img/signin-image.jpg" alt="sing up image"></figure>
                                <a href="#" class="signup-image-link">Create an account</a>
                            </div>

                            <div class="signin-form">
                                <h2 class="form-title">Sign In</h2>
                                
                                <form class="register-form" #signInForm="ngForm" (ngSubmit)="handleSignIn(signInForm)" >
                                    <div class="form-group">
                                        <label for="Username"><i
                                                class="zmdi zmdi-account material-icons-name"></i></label>
                                        <input type="text" name="username" placeholder="Your Username" #username="ngModel" ngModel required />
                                        <span *ngIf="signInForm.submitted && signInForm.controls.username.errors &&signInForm.controls.username.errors.required">Username is required !</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                                        <input type="password" name="password" placeholder="Password" #password="ngModel" ngModel />
                                        <span *ngIf="signInForm.submitted && signInForm.controls.password.errors &&signInForm.controls.password.errors.required">Password is required !</span>
                                        
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                        <label for="remember-me"
                                            class="label-agree-term"><span><span></span></span>Remember me</label>
                                    </div>
                                    <div class="form-group form-button">
                                        <input type="submit" class="form-submit" value="Log in" />
                                    </div>
                                </form>
                                <div class="social-login">
                                    <span class="social-label">Or login with</span>
                                    <ul class="socials">
                                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                {{loginError | json}}
            </div>

        </div>
    </div>
</div>