<section class="container">
    <div class="signin">
        <form class="form-control" [formGroup]="signinForm" (ngSubmit)="signin()">
            <div class="form-group">
                <label for="" class="control-label">Username</label>
                <input type="text" name="username" formControlName="username" />
                <span class="text-error" *ngIf="signinForm.invalid && signinForm.controls.username && signinForm.controls.username.errors && signinForm.controls.username.errors.required">Username is required</span>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Password</label>
                <input type="text" name="password" formControlName="password" />
            </div>
            <div class="btn-group">
                <button class="btn btn-primary">Signin</button>
                <button class="btn btn-danger" (click)="reset()">Reset</button>
            </div>
        </form>
    </div>
</section>