<section class="container" *ngIf="questionList?.length">
    <header>
        <div class="col-lg-12 info">
            <div class="">
                Topic: Angular
            </div>
            <div class="">
                Question: {{questionList.length}}
            </div>
        </div>
    </header>
    <main>
        <div class="col-lg-12">
            <div class="row question-block">
                <div class="col-12 text-right">
                    <a href="javascript:void(0)" class="">Next >> </a>
                </div>
                <div class="col-12 question">
                    <div class="title">
                        <label>Q{{activeQuestionNo + 1}}:</label>
                        <span>{{'  '+activeQuestion.Title}}</span>
                    </div>
                    <div class="options">
                        <table>
                            <tbody>
                                <tr *ngFor="let option of activeQuestion.options; let i=index;">
                                    <td>
                                        <input type="radio" name="option" (change)="onChangeHandler(i)" [value]="option.value" />
                                    </td>
                                    <td>A.</td>
                                    <td>{{option.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pagination">
                    <span class="question-no" [ngClass]="fetchClass(question)" *ngFor="let question of questionList; let i = index;" (click)="changeActiveQuestion(question, i)" >{{i + 1}}</span>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="col-lg-12 text-center">
            <div class="btn-holder">
                <button class="btn btn-primary">Submit</button>
                <button class="btn btn-warning">Reset</button>
            </div>
        </div>
    </footer>
</section>