<app-header [Header]="'Question Master'"></app-header>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <button class="btn btn-white pull-right" (click)="createQuestion()">Create</button>
            <h4 class="card-title">Create Question</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <div class="col-md-12" *ngIf="topicList && topicList.length">
              <div class="row">
                <div class="dropdown">
                  <button class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
                    {{topicName | titlecase}}
                    <b class="caret"></b>
                  </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let topic of topicList;">
                      <a href="javascript:void(0)" (click)="selectTopic(topic.slug)">{{topic.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mt-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">Questions Title</label>
                    <input type="text" class="form-control" name="options" [(ngModel)]="questionModel.questionTitle" autocomplete="off" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Questions</label>
                    <textarea class="form-control" [froalaEditor]="options" [(froalaModel)]="questionModel.question"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="mulitple-choice" [(ngModel)]="questionModel.qType"> Multiple Choice
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                  <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="subjective" [(ngModel)]="questionModel.qType"> Subjective
                      <span class="circle">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="questionModel.qType">
                <div *ngIf="questionModel.qType == 'mulitple-choice'; then multipleChoiceTpl else subjectiveTpl;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #multipleChoiceTpl>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-no-border">
        <thead class=" text-primary">
          <tr>
            <th class="text-center">#</th>
            <th>Choice</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let opt of questionModel.options; let count = index;">
            <td class="text-center">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="" [(ngModel)]="opt.isCorrect">
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
            </td>
            <td>
              <div class="form-group bmd-form-group">
                <label class="bmd-label-floating">Option {{count + 1}}</label>
                <input type="text" class="form-control" name="options" [(ngModel)]="opt.value" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<ng-template #subjectiveTpl>
  <div class="col-md-12">
    <div class="form-group bmd-form-group">
      <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
      </label>
      <textarea class="form-control" [froalaEditor]="options" [(froalaModel)]="questionModel.subjectiveAnswer"></textarea>
    </div>
  </div>
</ng-template>