<app-header></app-header>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-body">
            <h4 class="card-title">Add Topic</h4>
            <form #topicForm="ngForm">
              <div class="col-md-12">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Topic Name</label>
                  <input type="text" class="form-control" [(ngModel)]="topicName" name="topic" />
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-round" (click)="addTopic()">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">List Topics</h4>
          </div>
          <div class="card-body">
            <!-- Create your template here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>