<app-header [Header]="'Topic Master'"></app-header>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">Add Topic</h4>
            <form #topicForm="ngForm">
              <div class="col-md-12">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">Topic Name</label>
                  <input type="text" class="form-control" [(ngModel)]="topicName" name="topic" autocomplete="off" />
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-round" (click)="addTopic()">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">List Topics</h4>
          </div>
          <div class="card-body">
            <table class="table table-bordered" *ngIf="topicList && topicList.length">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Topic Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let topic of topicList; let count = index">
                  <td>{{count + 1}}</td>
                  <td>{{topic.name}}</td>
                  <td>
                    <div class="btn-holder">
                      <button class="btn btn-warning">
                        <i class="material-icons">edit</i>Edit</button>
                      <button class="btn btn-danger" (click)="deleteTopic(topic.slug)">
                        <i class="material-icons">delete_sweep</i>
                        Delete</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>