<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <!-- Sign up form -->
                <section class="signup">
                    <div class="container">
                        <div class="signup-content">
                            <div class="signup-form">
                                <h2 class="form-title">Sign up</h2>
                                <form [formGroup]="signupForm" class="register-form" (ngSubmit)="handleSubmit()">
                                    <div class="form-group">
                                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                        <input type="text" name="name" formControlName="name"  placeholder="Your Name" />
                                        <span *ngIf="submitted && signupForm.controls.name.errors &&signupForm.controls.name.errors.required">name is required !</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="username"><i class="zmdi zmdi-username"></i></label>
                                        <input type="username" name="username" placeholder="Your Username" formControlName="username"/>
                                        <span *ngIf="submitted && signupForm.controls.username.errors &&signupForm.controls.username.errors.required">username is required !</span>

                                        <span *ngIf="submitted && signupForm.controls.username.errors &&!signupForm.controls.username.errors.required && signupForm.controls.username.errors.emailValidation">Username is not a valid email !</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                        <input type="password" name="password" formControlName="password" placeholder="Password" />
                                        <span *ngIf="submitted && signupForm.controls.password.errors &&signupForm.controls.password.errors.required">Password is required !</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="repeat_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                        <input type="password" name="repeat_pass" formControlName="confirm_password" placeholder="Repeat your password" />
                                        <span *ngIf="submitted && signupForm.controls.confirm_password.errors &&signupForm.controls.confirm_password.errors.required">Repeat password is required !</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I
                                            agree all statements in <a href="#" class="term-service">Terms of
                                                service</a></label>
                                    </div>
                                    <div class="form-group form-button">
                                        <input type="submit"class="form-submit" value="Register" />
                                    </div>
                                </form>
                            </div>
                            <div class="signup-image">
                                <figure><img src="../../assets/img/signup-image.jpg" alt="sing up image"></figure>
                                <a href="#" class="signup-image-link">I am already member</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>