/* You can add global styles to this file, and also import other style files */

table {
    &.table-no-border{
        td, th {
            border: none;
        }
    }
}
.modal-content {
    .content-highlight {
        border: 1px solid #d3d3d352;
        padding: 0 5px 0 15px;
        background-color: #d3d3d352;
    }
    .content-label {
        font-size: 19px;
        font-weight: 400;
        margin: 0.7em 0;
        display: block;
        letter-spacing: 1px;
    }
}
